/*********************************************************************
 *                                                                   *
 * Purpose: Defines the styles for some commonly used html elements  *
 *                                                                   *
 * What it Contains:                                                 *
 *      - positioning of the buttons and filter dropdowns for the    *
 *          graphs                                                   *
 *********************************************************************/


.graphExtra {
    margin: 10px 0 0 0;
    float: right;
}

#lowerGraphFilterGroupsButton {
    position:relative;
}

.graphTableContainer {
    height: 400px;
    overflow: auto !important;
}

.sortIcon {
    margin-left: 10px;
}

.lowerTableHeader {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
}

.lowerGraphBtnIcon {
    width: 18px;
    height: 18px;
}